<EmberWormhole @destinationElement={{_destination}} @renderInPlace={{_inPlace}}>
  <button
    class="truncate-multiline--button {{classNames}}"
    onclick={{action DOMClick}} type="button"
  >
    {{yield}}
  </button>
</EmberWormhole>
