<EmberWormhole @destinationElement={{this._destination}} @renderInPlace={{this._inPlace}}>
  <button
    class="truncate-multiline--button {{this.classNames}}"
    onclick={{this.DOMClick}}
    type="button"
  >
    {{yield}}
  </button>
</EmberWormhole>
