{{#if truncate}}
  <div class="truncate-multiline--truncation-target">
    {{~#if hasBlock~}}
      {{yield}}
    {{~else~}}
      {{text}}
    {{~/if~}}
  </div>
  <button class="truncate-multiline--button{{if _shouldShowSeeMoreButton "" "-hidden"}}" {{action "toggleTruncate"}}>
    {{seeMoreButtonText}}
  </button>
{{else}}
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{text}}
  {{/if}}
  <button class="truncate-multiline--button{{if _shouldShowSeeLessButton "" "-hidden"}}" {{action "toggleTruncate"}}>
    {{seeLessButtonText}}
  </button>
{{/if}}
